<div class="list-body" class="container-fluid">
    <mat-tab-group #tabGroup dynamicHeight [selectedIndex]="selectedIndex" (click)="deleteSearchText(inputElt)">
        <mat-tab label="Series">
        </mat-tab>
        <mat-tab label="Movies">
        </mat-tab>
    </mat-tab-group>

    <div class="input-group sticky-top">
        <input #inputElt (keyup)="searchApiAndUserList(this.tabGroup.selectedIndex, inputElt.value)" placeholder="search..." type="text"
            class="form-control">
        <span *ngIf="inputElt.value.length>0" (click)="deleteSearchText(inputElt)" class="input-group-text"
            id="basic-addon1"><i class="fas fa-times"></i></span>
    </div>

    <div class="list-group">
        <div *ngIf="this.nbResults>-1" class="row list-group-item"> 
            
        <div *ngIf="isLoadingResults" class="d-flex justify-content-center align-items-center loader">
            <div class="spinner-border" role="status"></div>
         </div>
            {{nbResults}} resultat(s)<span *ngIf="this.nbResults>10"><small><em>(seuls les 10 premiers vous sont proposés)</em></small></span></div>

        <div class="row list-group-item d-flex" *ngFor="let result of results">
            <div class="col-6 search-result">
                <img [src]="result.imageUrl">
                {{result.title}}
            </div>
            <div class="col-4 search-result">
                <span *ngIf="result.alreadyInUserList" [routerLink]="['/detail', result.imdbId, result.typeMedia]">voir le détail</span>
            </div>
            <div class="col-2" *ngIf="result.alreadyInUserList">
                <button mat-mini-fab color="warn" (click)="deleteMedia(result.imdbId,result.typeMedia, inputElt)"
                                 aria-label="delete from my list">
                                 <mat-icon>delete</mat-icon>
                             </button>
            </div>
            <div class="col-2" *ngIf="!result.alreadyInUserList" >
                <button mat-mini-fab color="primary" (click)="addMedia(result.imdbId,result.typeMedia, inputElt)"
                                 aria-label="add to my list">
                                 <mat-icon>add_circle</mat-icon>
                             </button>
            </div>

        </div>
    </div> 

    <!-- TEMPLATE SERIES-->
    <div *ngIf="this.tabGroup.selectedIndex == 0" class="row">
        <!-- TEMPLATE SERIES-->
      <p *ngIf="series.length == 0">You dont' have serie in your list.</p>
        <div class="col-12 col-md-3 col-xl-2" *ngFor="let media of series">
            <div class="card">
                <img [routerLink]="['/detail',media.imdbId,media.typeMedia]" [src]="media.imageUrl" alt="image du film ou série">
                <div class="card-body">
                    <h2>{{media.title}}</h2>
                    <app-rating [rating]="media.imdbRating/2"></app-rating>
                    <p>Number of seasons : {{media.numberOfSeason}}
                        <br>My season :
                        <select (change)="updateSeason(media.imdbId,media.status,$event.target.value)"
                            name="saison_encours" id="saison_encours">
                            <option *ngFor="let item of [].constructor(media.numberOfSeason); let i=index"
                                [selected]="media.userSeason == (i+1)" [value]="i+1">
                                {{i+1}}</option>
                        </select>
                        <br>Year : {{media.startYear}}-{{media.endYear}}
                    </p>
                    <p>
                        <select (change)="updateStatusMedia(media.imdbId,media.typeMedia,$event.target.value)"
                            name="status">
                            <option *ngFor="let status of status_media" [selected]="status[0] === media.status"
                                [value]="status[0]">{{status[1]}}</option>
                        </select>
                        <button mat-mini-fab color="primary" (click)="deleteMedia(media.imdbId,media.typeMedia)"
                            aria-label="delete movie ou serie">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- FIN TEMPLATE SERIES-->

    <!-- TEMPLATE MOVIES-->
    <div *ngIf="this.tabGroup.selectedIndex == 1" class="row">
      <p *ngIf="movies.length == 0">You dont' have movie in your list.</p>
        <div class="col-12 col-md-3 col-xl-2" *ngFor="let media of movies">
         
          <div class="card">
                <img [routerLink]="['/detail',media.imdbId,media.typeMedia]" [src]="media.imageUrl" alt="image du film ou série">
                <div class="card-body">
                    <h2>{{media.title}}</h2>
                    <app-rating [rating]="media.imdbRating/2"></app-rating>
                    <p>Duration : {{media.runtime}} minutes <br>Year : {{media.startYear}}</p>
                    <p>
                        <select (change)="updateStatusMedia(media.imdbId,media.typeMedia,$event.target.value)"
                            name="status">
                            <option *ngFor="let status of status_media" [selected]="status[0] === media.status"
                                [value]="status[0]">{{status[1]}}</option>
                        </select>
                        <button mat-mini-fab color="primary" (click)="deleteMedia(media.imdbId,media.typeMedia)"
                            aria-label="delete movie ou serie">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="fixed-bottom bg-info text-center p-2">
        <button (click) ="loadNextMedia()"  class="btn btn-light">previous </button>
        <button (click) ="loadLastMedia()"  class="btn btn-light">next </button>
                           
     </div>   -->
    <!-- Pagination -->
    <div class="fixed-bottom bg-info text-center p-2">
        <tr *ngFor="let media of movies  | paginate:
        { itemsPerPage: 5, currentPage: page, totalItems:100 };
        let i = index" [class.active]="i == currentIndex" >
        </tr>
        
     
        <pagination-controls
            responsive="true" 
            previousLabel="Prev" 
            nextLabel="Next" 
            (pageChange)="onPageChanged($event)">
        </pagination-controls> 
     

    <!-- FIN TEMPLATE MOVIES-->
    
          


