<mat-toolbar class="d-flex justify-content-between" color="primary">
  <span>My Media List</span>
  <div>
    <!-- <span *ngIf="!userService.isLogged()" class="me-2" [style.cursor]="'pointer'" routerLink="/login">Login</span>
    <span *ngIf="userService.isLogged()" class="ms-2">Hello 😎</span>
    <span *ngIf="userService.isLogged()" class="ms-2" [style.cursor]="'pointer'" (click)="logoutAction()">Logout</span> -->
    <span class="me-2" [style.cursor]="'pointer'" routerLink="/login">Login</span>
    <span class="ms-2">Hello 😎</span>
    <span class="ms-2" [style.cursor]="'pointer'" >Logout</span>
  </div>
</mat-toolbar>

<!-- <mat-progress-bar color="accent" [style.opacity]="(loaderService.isLoadingObs | async)?'1':'0'" mode="indeterminate">
</mat-progress-bar> -->


<div class="d-flex">

  <div class="interface container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>