<div class="d-flex">
    <!-- retour sur le component list -->
    <button (click)="goToMylistPage()" class="btn">Back</button>
    <h1>Titre</h1>
</div>
    <div class="card">
            <div class="card-body">
                <!-- | appliquer une transformation avec la fonction qui prend paramètre en entrée -->
                <!-- ici movie.title c'est paramètre en entrée et uppercase c'est la focntion de transformation -->
                <!-- <h1>{{media.title | uppercase}}</h1>   -->
                <!-- on veut formatter la date avec option 'dd/MM/yyyy' -->
                <!--<p>Date de sortie :{{movie.date | date:'dd/MM/yyyy'}}</p>  -->
                <!-- cuttext créé par nous meme -->
                <!--<p>{{movie.desc | cuttext}}</p>  -->
            </div>
    </div>