 <div class="container">
   <div class="row" style="padding-top: 50px;">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border-form">
         <h1>Create my account</h1>

 <form [formGroup]="newUserForm" (ngSubmit)= "onSubmit(newUserForm)">
   <div class="mb-2">
      <label class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control">
      <p *ngIf="(newUserForm.get('email').hasError('email') && newUserForm.get('email').touched)" class="form-error" class="form-error">
         Mandatory field (e-mail address with correct format)
      </p>
   </div>

    <div class="mb-2">
       <label class="form-label">Username</label>
       <input formControlName="firstname" type="text" class="form-control">
       <p><span *ngIf="(newUserForm.get('firstname').hasError('minlength') && newUserForm.get('firstname').touched)" class="form-error">
          Mandatory field (4 characters min.)
       </span></p>
    </div>
    <div class="mb-2">
      <label class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control">
      <p><span class="form-help">8 characters min.</span><span *ngIf="(newUserForm.get('password').hasError('minlength') && newUserForm.get('password').touched)" class="form-error">
         Mandatory field (8 characters min.)
      </span></p>
   </div>
    <div class="mt-3">
       <button type="submit" mat-flat-button color="primary" type="submit">Create my account</button>
    </div>
 </form>
 <p style="margin-top: 20px">To connect to your account, <a href='/login'>click here</a></p>
</div>
<div class="col-lg-3"></div>
</div>
</div>