<div class="subnav">
    <button color="primary" routerLink="/register" mat-icon-button aria-label="navigate to User list">
       <!-- <mat-icon>navigate_before</mat-icon> -->
    </button>
    <h1>Sign up</h1>
 </div>
 <form [formGroup]="newUserForm" (ngSubmit)= "onSubmit(newUserForm)">
    <div class="mb-2">
       <label class="form-label">Firstname</label>
       <input formControlName="firstname" type="text" class="form-control">
       <p *ngIf="newUserForm.get('firstname').hasError('minlength') && newUserForm.get('firstname').touched" class="form-error">
          Min. 2 characters
       </p>
    </div>
    <div class="mb-2">
       <label class="form-label">Lastname</label>
       <input formControlName="lastname" type="text" class="form-control">
       <p *ngIf="(newUserForm.get('lastname').hasError('minlength') && newUserForm.get('lastname').touched)" class="form-error">
          Min. 2 characters
       </p>
    </div>
    <div class="mb-2">
       <label class="form-label">Birthday</label>
       <input formControlName="birthdayDate" type="text" class="form-control">
       <p *ngIf="newUserForm.get('birthdayDate').hasError('required') && newUserForm.get('birthdayDate').touched" class="form-error">
         Birthday date is required
       </p>
    </div>
    <div class="mb-2">
       <label class="form-label">Email</label>
       <input formControlName="email" type="text" class="form-control">
       <p *ngIf="newUserForm.get('email').hasError('email') && newUserForm.get('email').touched" class="form-error">
          Email address is invalid
       </p>
    </div>
    <div class="mb-2">
      <label class="form-label">Password</label>
      <input formControlName="password" type="text" class="form-control">
      <p *ngIf="newUserForm.get('password').hasError('email') && newUserForm.get('password').touched" class="form-error">
         
      </p>
   </div>
    <div class="mt-3">
       <button type="submit" mat-flat-button color="primary" type="submit">OK</button>
    </div>
 </form>